<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Device Tests">
    <test name="Login Tests">
        <classes>
            <class name="Tests.GoogleSearchPageTest" />
        </classes>
    </test>

    <test name="Login Tests 2">
        <parameter name="username" value="someone" />
        <parameter name="password" value="Password1" />
        <classes>
            <class name="Tests.GoogleSignInPageTest" />
        </classes>
    </test>
</suite>

