<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Device Tests">
    <parameter name="appiumServerURL" value="http://127.0.0.1" />
    <parameter name="appiumServerPort" value="4723" />
    <parameter name="username" value="TestUser001" />
    <parameter name="password" value="Password001" />

    <test name="Physical S6 device Tests">
        <parameter name="deviceName" value="01157df1d04cb80c" />
        <parameter name="platform" value="Android" />
        <classes>
            <class name="Tests.GoogleSearchPageTest" />
            <class name="Tests.GoogleSignInPageTest" />
        </classes>
    </test>
</suite>
